body {
  background: hsl(52deg 50% 70%);
  padding-top: 40px;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
}

.flash {
  background: #f0f;
}

strong {
  text-decoration: underline;
}

hr {
  margin: 40px 0;
  border-color: #000;
}

#Main {
  max-width: 720px;
  margin: 0 auto;
}

#fetch-button {
  padding: 8px 16px;
  margin-right: 6px;
}

input[type="checkbox"] {
  position: relative;
  top: 4px;
  width: 18px;
  height: 18px;
}

button + label {
  margin-left: 12px;
}

#response {
  margin-top: 22px;
  padding: 0px 26px;
  border: 1px solid #000;
  transition: all 100ms linear;
}
